#submit {
    color: white;
    background-color: blue;
}

.ImageSections img, #ProfileImage {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
}

#MainContainer {
    width: 100%;
}

.MainTableClass {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.MainTableClass table {
       width: 75%;
        margin-left: auto;
        margin-right: auto;
}