:root {
    --headerColor: white;
    --backgroundHeaderColor: blue;
    --tableHeaderFontColor: red;
    --tableFontSize: 2rem;
    --headerColorBg: white;
    --backgroundHeaderColorBg: blue;
    --tableHeaderFontColorBig: black;
    --tableFontSizeBig: 1rem;
}

#submit {
    color: var(--headerColor);
    background-color: var(--backgroundHeaderColor);
}

#MainContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}

#MainProfileInformation {
    display: grid;
    grid-template-columns: auto auto auto;
}

.Posts {
    display: grid;
}

.Span3Columns {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 480px){
    #MainProfileInformation {
        grid-template-columns: auto;
    }

    #ProfileImage {
        height: 100px;
        width: 100px;
        border-style: solid;
        border-color: var(--tableHeaderFontColor);
        border-width: 4px;
        border-radius: 50%;
        display: grid;
    }

    .Posts {
        grid-template-columns: auto;
    }

}

@media only screen and (min-width: 481px) {
    .Posts {
        grid-template-columns: auto auto auto;
    }

    .span2Columns {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .Span3Rows {
        grid-row-start: 1;
        grid-row-end: 4;
    }
}

.MainTableClass {
    display: grid;
    grid-template-columns: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#ProfileImage {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: var(--tableHeaderFontColorBig);
    border-width: 4px;
    border-radius: 50%;
    display: grid;
}