body {
}



@media only screen and (max-width: 480px) {
    #SignUp {
    background-color: lightseagreen;
    font-size: 10px;
    display: flex;
    color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    height: 400px;
  }
}

@media only screen and (min-width: 481px) {

}