/*#MainCalender {
    display: grid;
    grid-template-columns: auto;
}*/

/*.CalenderRows {
    display: flex;
    flex-direction: row;
}*/

.FlexRow {
    width: 14.20%;
}

.WeekDay {
    width: 14.20%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 120px;
}

.WeekEnd {
    background-color: #e3e3e3;
}

/*.WeekDays {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}*/

.Event {
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
}

.Video1 {
    background-color: red;
    color: white;
    border-radius: 25px;
}