@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/ProfileStyles.css" />

<div class="text-center">
    <head id="header">
        <span>My Gram</span>
        <span class="search">
            <input type="text" placeholder="Search">
        </span>
        <span>
            <button id="submit" type="submit">Log In</button>
        </span>
        <span>
            <a href="~/Home/SignUp"><button id="submit" type="submit">SignUp</button></a>
        </span>
    </head>
    <body>
        <div id="MainContainer">
            <table class="MainTableClass">
                <thead>
                    <tr>
                        <th>
                            <span><img id="ProfileImage" style="width: 190px;height: 190px;" src="https://www.desktopbackground.org/download/480x800/2011/10/08/277967_12-kamen-rider-ooo-hd-wallpapers_1500x1125_h.jpg" /></span>
                        </th>
                        <th style="text-align:left;">
                            <span>Roberto Guardian</span><button id="submit" type="submit">Follow</button>
                            <p>
                                <span>5 posts</span>
                                <span>10 Followers</span>
                                <span>20 Following</span><br>
                            </p>
                            <p style="font-size:90%;">
                                Welcome to my profile, my name is Roberto Guardian, I am 19-years-old, I like to watch anime and youtube.
                                Team Godzilla for life, I like to draw, create stuff with my legos, and soon make stuff with a 3D Printer. When I grow up I
                                hope to have a small business in graphic design, while selling some 3d printed stuff and sone drawings while doing youtube (as a hobby).
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <table class="ImageSections">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img id="ProfileImage" style="width: 150px;height: 150px;" src="https://2.bp.blogspot.com/-AwXiGfj9k2s/XLTzKdCHKlI/AAAAAAAABiQ/KIIOTkAimNkV0CHHpYX8jzaY-9CLl7NqACKgBGAs/w914/godzilla-king-of-the-monsters-uhdpaper.com-4K-9.jpg" />
                                            <p>
                                                My Favorite Movie Is Godzilla
                                            </p>
                                        </td>
                                        <td>
                                            <img id="ProfileImage" style="width: 150px;height: 150px;" src="https://wallpaperaccess.com/full/1109423.jpg" />
                                            <p>
                                                My Favorite Anime Is "Darling In The FranXX"
                                            </p>
                                        </td>
                                        <td>
                                            <img id="ProfileImage" style="width: 150px;height: 150px;" src="https://i.pinimg.com/originals/e5/2f/2f/e52f2fd10f583fb5c2f197fa0d033660.jpg" />
                                            <p>
                                                My Favorite T.V Show Is Ben 10.
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            Posts
                                            Reels
                                            IGTV
                                            Tagged
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table>
                                <tbody>
                                    <tr style="">
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://i.pinimg.com/736x/14/4f/17/144f17cc3ab198ab0986cb86afddb19f.jpg" />
                                        </td>
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://i.pinimg.com/originals/7b/4f/cf/7b4fcfbc2437df1d34b5343622754ce3.jpg" />
                                        </td>
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://artfiles.alphacoders.com/124/124377.jpg" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://mfiles.alphacoders.com/773/773500.jpg" />
                                        </td>
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://wallpapercave.com/wp/wp2683038.jpg" />
                                        </td>
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://i.pinimg.com/originals/82/ea/f0/82eaf0e7994959b33cca82075dee7a15.jpg" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://i.redd.it/av9xzd7jf0i51.jpg" />
                                        </td>
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://r1.ilikewallpaper.net/iphone-x-wallpapers/download/82278/artwork-godzilla-king-of-the-monsters-iphone-x-wallpaper-ilikewallpaper_com.jpg" />
                                        </td>
                                        <td><img style="width: 200px;height: 250px;" src="https://cdn.wallpapersafari.com/79/0/qSuEgk.jpg" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://i.pinimg.com/originals/e3/ed/34/e3ed3423462f4db7cfaa83221c1a7ce4.jpg" />
                                        </td>
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://external-preview.redd.it/EnDRtV0e1Lvci_-_gPf8R4148ZEh_rr1u1RpRBnwPzE.jpg?auto=webp&s=ee006b870e3caa8a6916706880974a37ac87c785" />
                                        </td>
                                        <td>
                                            <img style="width: 200px;height: 250px;" src="https://i.pinimg.com/736x/f8/94/be/f894beaee6ccc93bf5de570fa163e685.jpg" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>