<link rel="stylesheet" href="~/css/ViewCalender.css" />

<header id="header">
    <b>May 2021</b>
</header>

<div id="Days">
    <span>Sun</span>
    <span>Mon</span>
    <span>Tue</span>
    <span>Wed</span>
    <span>Thu</span>
    <span>Fri</span>
    <span>Sat</span>
</div>
<div id="MainContainer">
    <div class="FirstWeek">
        <span>25</span>
        <span>26</span>
        <span>27</span>
        <span>28</span>
        <span>29</span>
        <span>30</span>
        <span>May 01</span>
    </div>
    <div class="SecondWeek">
        <span>02</span>
        <span>03</span>
        <span>04</span>
        <span>05</span>
        <span>06</span>
        <span>07</span>
        <span>08</span>
    </div>
    <div class="ThirdWeek">
        <span>09</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span>13</span>
        <span>14</span>
        <span>15</span>
    </div>
    <div class="ForthWeek">
        <span>16</span>
        <span>17</span>
        <span>18</span>
        <span>19</span>
        <span>20</span>
        <span>21</span>
        <span>22</span>
    </div>
    <div class="FifthWeek">
        <span>23</span>
        <span>24</span>
        <span>25</span>
        <span>26</span>
        <span>27</span>
        <span>28</span>
        <span>29</span>
    </div>
    <div class="SixthWeek">
        <span>30</span>
        <span>31</span>
        <span>Jun 01</span>
        <span>02</span>
        <span>03</span>
        <span>04</span>
        <span>05</span>
    </div>
</div>