<link rel="stylesheet" href="~/css/ViewCalender.css" />

<header id="header">
    <b>May 2021</b>
</header>

<div id="MainCalender container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-1">
            <span>Sun</span>
        </div>
        <div class="col-lg-1">
            <span>Mon</span>
        </div>
        <div class="col-1">
            <span>Tue</span>
        </div>
        <div class="col-1">
            <span>Wed</span>
        </div>
        <div class="col-1">
            <span>Thur</span>
        </div>
        <div class="col-1">
            <span>Fri</span>
        </div>
        <div class="col-1">
            <span>Sat</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="WeekDay WeekEnd col-lg-2">
            <span>25</span>
            <div class="Event">
                <span>Image 1 Was Added</span>
            </div>
        </div>
        <div class="WeekDay col-lg-2">
            <span>26</span>
        </div>
        <div class="WeekDay col-lg-2">
             <span>27</span>
        </div>
        <div class="WeekDay col-lg-2">
            <span>28</span>
            <div class="Event">
                <span>Image 2 Was Added</span>
            </div>
        </div>
        <div class="WeekDay col-lg-2">
                <span>29</span>
        </div>
        <div class="WeekDay col-lg-2">
                <span>30</span>
        </div>
        <div class="WeekDay WeekEnd col-lg-2">
                <span>May 1</span>
            </div>
        <div class="WeekDay WeekEnd col-lg-2">
                <span>2</span>
            </div>
        <div class="WeekDay col-lg-2">

                <span>3</span>
            </div>
        <div class="WeekDay col-lg-2">
                <span>4</span>
            </div>
        <div class="WeekDay col-lg-2">
                <span>5</span>
          </div>
        <div class="WeekDay col-lg-2">
                <span>6</span>
            </div>
        <div class="WeekDay col-lg-2">
                <span>7</span>
            </div>
        <div class="WeekDay WeekEnd col-lg-2">
                <span>8</span>
            </div>
        <div class="WeekDay WeekEnd col-lg-2">
                <span>9</span>
            </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>10</span>
            </div>
            <div class="Event">
                <span>Image 3 Was Added</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>11</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>12</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>13</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>14</span>
            </div>
        </div>
        <div class="WeekDay WeekEnd">
            <div class="WeekDays">
                <span>15</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="WeekDay WeekEnd col-lg-2">
                <span>16</span>
        </div>
        <div class="WeekDay col-lg-2">
                <span>17</span>
            </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>18</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>19</span>
            </div>
            <div class="Event">
                <span>Image 4 Was Added</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>20</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>21</span>
            </div>
        </div>
        <div class="WeekDay WeekEnd">
            <div class="WeekDays">
                <span>22</span>
            </div>
            <div class="Event">
                <span>Image 5 Was Added</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="WeekDay WeekEnd col-lg-2">
                <span>23</span>
            </div>
        <div class="WeekDay col-lg-2">
                <span>24</span>
            </div>
        <div class="WeekDay col-lg-2">
                <span class="Video1">25</span>
            <div class="Event">
                <span>Video 1 Was Added</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>26</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>27</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>28</span>
            </div>
        </div>
        <div class="WeekDay WeekEnd">
            <div class="WeekDays">
                <span>29</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="WeekDay WeekEnd col-lg-2">
                <span>30</span>
            </div>
        <div class="WeekDay col-lg-2">
                <span>31</span>
            </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>Jun 1</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>2</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>3</span>
            </div>
        </div>
        <div class="WeekDay">
            <div class="WeekDays">
                <span>4</span>
            </div>
        </div>
        <div class="WeekDay WeekEnd">
            <div class="WeekDays">
                <span>5</span>
            </div>
        </div>
    </div>
</div>